In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [3]:
from scipy.stats import zscore
from sklearn.preprocessing import MinMaxScaler

In [4]:
data = pd.read_csv("/exampleRepository/dataset02.csv")

In [5]:
data.describe()

/usr/lib/python3/dist-packages/pandas/core/nanops.py:1010: RuntimeWarning: overflow encountered in square
  sqr = _ensure_numeric((avg - values) ** 2)

                   y
count   2.060000e+02
mean   4.854369e+156
std              inf
min    -5.744308e+00
25%     1.219424e+01
50%     2.848690e+01
75%     4.031530e+01
max    1.000000e+159

In [6]:
data.head()

                    x          y
0   46.56922442211345  43.901322
1  46.799749882612765  47.682727
2   49.70505782865616  46.772946
3   35.73995379842663  32.640444
4  11.392664643376904   5.662792

In [7]:
data.shape

(207, 2)

In [8]:
data_numeric = data.apply(pd.to_numeric, errors='coerce')

In [9]:
data_numeric.shape

(207, 2)

In [10]:
data_numeric.isnull().sum()

x    2
y    1
dtype: int64

In [11]:
clean_data = data_numeric.dropna()

In [12]:
clean_data.shape

(204, 2)

In [16]:
z_scores = np.abs(zscore(clean_data))
print('\nZ-Scores: ')
print(z_scores)

Z-Scores:
            x    y
0    1.402604  0.0
1    1.418234  0.0
2    1.615215  0.0
3    0.668374  0.0
4    0.982386  0.0
..        ...  ...
199  0.505227  0.0
203  0.505227  0.0
204  0.505227  0.0
205  1.415812  0.0
206  1.635213  0.0

[204 rows x 2 columns]

/usr/lib/python3/dist-packages/numpy/core/_methods.py:176: RuntimeWarning: overflow encountered in multiply
  x = um.multiply(x, x, out=x)